* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #05668d;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.search-bar {
  width: 40%;
  height: 140px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar p {
  color: rgb(255, 243, 209);
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  margin: 6px auto;
  text-align: center;
}

.logo {
  font-size: 100px;
}

.logo span {
  font-size: 40px;
  color: #ffc532;
}

.input-group {
  display: flex;
  border-radius: 100px;
  padding: 6px;
  width: 100%;
  background-color: #fff;
}

.form-control {
  flex: 1;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  border: none;
  margin: 0px 10px;
  text-align: center;
  background-color: #fff;
  color: #111111;
}

input:focus {
  outline: none;
}

input:focus::placeholder {
  color: transparent;
}

.btn-country {
  font-size: 20px;
  border: none;
  background-color: #fff;
  color: #01809e;
}

.countries {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  flex-wrap: wrap;
  margin-top: 40px;
}

.country {
  background-color: #fff;
  box-shadow: 0 0.5rem 5rem 0.5rem rgba(0, 0, 0, 0.5);
  font-size: 0.8rem;
  border-radius: 0.7rem;
  margin: 0 2rem;
  overflow: hidden;
  width: 200px;
}

.country__img {
  width: 100%;
  height: 8rem;
  object-fit: cover;
  background-color: #eee;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}

.country__data {
  padding: 0.5rem 0.25rem 0.5rem 1rem;
}

.country__name {
  font-size: 1.2rem;
  margin-bottom: 0.7rem;
}

.country__region {
  font-size: 0.7rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: #888;
}

.country__row:not(:last-child) {
  margin-bottom: 0.2rem;
}

.country__row span {
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.5rem;
}
.searched {
  display: flex;
  justify-content: center;
  width: 100%;
}
.neighbor {
  transform: scale(0.8) translateY(1rem);
  margin-left: 0;
}

@media screen and (max-width: 1024px) {
  .logo span {
    font-size: 32px;
  }
  .logo {
    font-size: 72px;
  }
  .search-bar {
    width: 410px;
  }
}

@media screen and (max-width: 768px) {
  .logo span {
    display: none;
  }
  .logo {
    font-size: 72px;
  }
}
